@charset "utf-8";

body {
	background-color: #300051;
}

.fd_content {
	font-family: Tahoma, Geneva, sans-serif;
	color: #ccc;
}

.fd_title {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: large;
	font-weight: bold;
}

.fd_img_center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


a:link {
	color:#FFC;
}
a:visited {
	color:#ccc;
}



	
